.App {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2 {
  padding: 2rem;
  text-align: center;
}

.user {
  width: 70vw;
  margin: 0 auto;
  background: rgb(227, 238, 238);
}

.user__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.user__profile .username {
  text-align: right;
}
.user__profile .username span {
  font-size: 1rem;
  color: rgb(114, 108, 108);
}
.user__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}
.user__img img {
  width: 100%;
}

.user__bio {
  padding: 1rem 2rem;
  font-size: 0.8rem;
  margin-bottom: 3rem;
}
.user__bio span {
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 0;
}

.user__repositories {
  list-style-type: none;
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
}
.user__repositories .repo {
  width: 10rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: rgb(174, 211, 211);
}
.user__repo_container {
  background: rgb(214, 243, 243);
}
.repo .repo__name {
  font-size: 0.8rem;
  line-height: 1.8;
}

.repo a {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  background: rgb(10, 10, 10);
}
